In [2]:
#Import Libraries
import pandas as pd
import sqlite3

### Load Transformed Data

In [3]:
# Read cleaned CSVs
df_full = pd.read_csv('transformed/transformed_full.csv')
df_inc  = pd.read_csv('transformed/transformed_incremental.csv')

## Connect to SQLite

### Transformed raw data to SQLite DB

In [4]:
conn = sqlite3.connect('loaded/full_data.db')
df_full.to_sql('full_data', conn, if_exists='replace', index=False)
conn.close()

In [ ]:
# Verify
conn = sqlite3.connect('loaded/full_data.db')
pd.read_sql('SELECT * FROM full_data LIMIT 5', conn)

,order_id,customer_name,product,quantity,unit_price,order_date,region,total_price,price_tier
0,86,Diana,Tablet,2.0,500.0,2024-01-02,South,1000.0,Medium
1,37,Frank,Monitor,2.0,750.0,2024-01-04,East,1500.0,High
2,48,Diana,Tablet,2.0,500.0,2024-01-06,South,1000.0,Medium
3,4,Eve,Laptop,2.0,750.0,2024-01-07,West,1500.0,High
4,6,Eve,Laptop,2.0,750.0,2024-01-07,West,1500.0,High

### Inremental data to SQLite DB

In [9]:
conn = sqlite3.connect('loaded/incremental_data.db')
df_inc.to_sql('full_data', conn, if_exists='replace', index=False)
conn.close()

In [10]:
# Verify
conn = sqlite3.connect('loaded/incremental_data.db')
pd.read_sql('SELECT * FROM full_data LIMIT 5', conn)

,order_id,customer_name,product,quantity,unit_price,order_date,region,total_price,price_tier
0,3,Unknown,Laptop,1.0,600.0,2024-05-04,Central,600.0,Medium
1,2,Unknown,Laptop,1.0,300.0,2024-05-07,Central,300.0,Low
2,1,Alice,Laptop,1.5,900.0,2024-05-09,Central,1350.0,High
3,8,Unknown,Laptop,1.5,600.0,2024-05-11,Central,900.0,Medium
4,7,Unknown,Tablet,1.0,600.0,2024-05-13,Central,600.0,Medium